---
- name: 'Check if {{ galaxy_tools_base_dir }} exist'
  stat:
    path: '{{ galaxy_tools_base_dir }}/Galaxy-flavors-recipes'
  register: tool_dir_path

- name: 'Create {{ galaxy_tools_base_dir }}'
  file:
    path: '{{ galaxy_tools_base_dir }}'
    state: directory
  when: not tool_dir_path.stat.exists|bool

- name: Get Galaxy flavor recipes
  git:
    repo: 'https://github.com/indigo-dc/Galaxy-flavors-recipes.git'
    clone: yes
    force: yes
    dest: '{{ galaxy_tools_base_dir }}/Galaxy-flavors-recipes'
  when: not tool_dir_path.stat.exists|bool

- name: Include sources list
  include: '{{ galaxy_tools_base_dir }}/Galaxy-flavors-recipes/{{galaxy_flavor}}/{{galaxy_flavor}}-sources-list.yml'

- name: Delete old backup galaxy.ini files
  file:
    path: '{{item}}'
    state: absent
  with_items:
    - '{{galaxy_config_path}}/galaxy.ini.prod'
    - '{{galaxy_config_path}}/galaxy.ini.lite'

- name: '[VM] Install workflow and libraries'
  include: workflows_and_libraries.yml
  when:
    - install_workflows|bool or install_data_libraries|bool

# Move Galaxy files from /home/galaxy/galaxy/databaase to {{ galaxy_db_dir }}
- include: move_galaxy_database_dir.yml
  when: galaxy_db_dir != "{{ galaxy_install_path }}/database"
