---
#______________________________________
# Download tools to {{export_dir}}

# check if pycurl is installed
- name: '[EL] Install pycurl'
  yum:
    name: '{{ item }}'
    state: present
  with_items:
    - python-pycurl
  become_user: root
  become_method: sudo
  when: ansible_os_family == "RedHat"

- name: '[Ubuntu] Install pycurl'
  apt:
    name: '{{ item }}'
    state: present
  with_items:
    - python-pycurl
  become_user: root
  become_method: sudo
  when: ansible_os_family == "Debian"

- name: Copy download script
  copy:
    src: 'tool_deps_download.py'
    dest: '/tmp/tool_deps_download.py'

- name: Include flavor tag var
  include_vars: "{{ galaxy_flavor }}.yml"

- debug:
    msg: '{{ item }}'
  with_items:
    - '{{ galaxy_flavor }}'
    - '{{ GALAXY_VERSION }}'
    - '{{ galaxy_flavor_image_tag[GALAXY_VERSION] }}'
    - '{{ export_dir }}'

- name: Download and extract tool dependencies
  command: "/usr/bin/python 
            /tmp/tool_deps_download.py
            -i {{ galaxy_flavor }}
            -r {{ GALAXY_VERSION }}
            -t {{ galaxy_flavor_image_tag[GALAXY_VERSION] }}
            -o {{ export_dir }}"
  become_user: root
  become_method: sudo

- name: 'Delete tool dependency {{ galaxy_flavor }}.tar.gz'
  file:
    path: '{{ export_dir }}/{{ galaxy_flavor }}.tar.gz'
    state: absent
  become_user: root
  become_method: sudo

#______________________________________
# Once tools installed, install workflow and libraries

- name: 'Check if {{ galaxy_tools_base_dir }} exist'
  stat:
    path: '{{ galaxy_tools_base_dir }}/Galaxy-flavors-recipes'
  register: tool_dir_path

- name: 'Create {{ galaxy_tools_base_dir }}'
  file:
    path: '{{ galaxy_tools_base_dir }}'
    state: directory
  when: not tool_dir_path.stat.exists|bool
  become_user: root
  become_method: sudo

- name: Get Galaxy flavor recipes
  git:
    repo: 'https://github.com/indigo-dc/Galaxy-flavors-recipes.git'
    clone: yes
    force: yes
    dest: '{{ galaxy_tools_base_dir }}/Galaxy-flavors-recipes'
  when: not tool_dir_path.stat.exists|bool
  become_user: root
  become_method: sudo

- name: Include sources list
  include: '{{ galaxy_tools_base_dir }}/Galaxy-flavors-recipes/{{galaxy_flavor}}/{{galaxy_flavor}}-sources-list.yml'

- name: Delete ALL old backup galaxy.ini files
  file:
    path: '{{item}}'
    state: absent
  with_items:
    - '{{galaxy_config_path}}/galaxy.{{galaxy_config_file_extension}}.prod'
    - '{{galaxy_config_path}}/galaxy.prod.{{galaxy_config_file_extension}}'
    - '{{galaxy_config_path}}/galaxy.{{galaxy_config_file_extension}}.lite'
    - '{{galaxy_config_path}}/galaxy.lite.{{galaxy_config_file_extension}}'

- debug:
    msg: "{{ item }}"
  with_items:
   - 'workflow: {{ install_workflows }}'
   - 'data: {{ install_data_librarie }}'

- name: Install workflow and libraries
  include: workflows_and_libraries.yml
  when: install_workflows|bool or install_data_libraries|bool
