---
- name: '[EL] Install rsync'
  yum:
    name: '{{ item }}'
    state: present
  with_items:
    - rsync
  when: ansible_os_family == "RedHat"

- name: '[Ubuntu] Install rsync'
  apt:
    name: '{{ item }}'
    state: present
  with_items:
    - rsync
  when: ansible_os_family == "Debian"

- name: 'Move Galaxy database dir to external volume'
  shell: 'rsync -av {{galaxy_install_path}}/database/ {{galaxy_db_dir}}} > /tmp/galaxy_database_rsync.log'

- name: Remove unuseful datasets
  file:
    dest: '{{galaxy_install_path}}/database/'
    state: absent
