---
- name: Stop galaxy
  supervisorctl: name="galaxy:" state=stopped
  ignore_errors: yes
  become_user: root
  become_method: sudo

# Currently images has old version of the startup-lite script
# without embedded environment variables
# current verions simplify the role logic, so we update the script version to 0.2

#- name: Check galaxy-startup-lite exists
#  stat:
#    path: '{{galaxy_custom_script_path}}/galaxy-startup-lite'
#  register: stat_galaxy_startup_list_result

- name: Download read_galaxy_config_file recipe
  get_url:
    url: 'https://raw.githubusercontent.com/indigo-dc/ansible-role-galaxycloud-tools/master/tasks/read_galaxy_config_file.yml'
    dest: '/tmp/galaxy-startup-lite.sh.j2'
#  when: not stat_galaxy_startup_list_result.stat.exists|bool

- name: Download galaxy configuration file reader
  get_url:
    url: 'https://raw.githubusercontent.com/Laniakea-elixir-it/Scripts/master/galaxy/read_galaxy_config_file.py'
    dest: '/tmp/read_galaxy_config_file.py'
    mode: a+x
#  when: not stat_galaxy_startup_list_result.stat.exists|bool

- include: /tmp/read_galaxy_config_file.yml
#    - not stat_galaxy_startup_list_result.stat.exists|bool

- name: '[release_17.**] Download galaxy-startup-lite template'
  get_url:
    url: 'https://raw.githubusercontent.com/indigo-dc/ansible-role-galaxycloud-tools/master/templates/galaxy-startup-lite.17.sh.j2'
    dest: '/tmp/galaxy-startup-lite.sh.j2'
  when:
#    - not stat_galaxy_startup_list_result.stat.exists|bool
    - galaxy_version_number|float < 18.00

- name: Download galaxy-startup-lite template
  get_url:
    url: 'https://raw.githubusercontent.com/indigo-dc/ansible-role-galaxycloud-tools/master/templates/galaxy-startup-lite.sh.j2'
    dest: '/tmp/galaxy-startup-lite.sh.j2'
  when:
#    - not stat_galaxy_startup_list_result.stat.exists|bool
    - galaxy_version_number|float >= 18.00

- name: Copy galaxy-startup-lite template
  template:
    src: '/tmp/galaxy-startup-lite.sh.j2'
    dest: '{{galaxy_custom_script_path}}/galaxy-startup-lite'
    mode: a+x
  become_user: root
  become_method: sudo
#  when: not stat_galaxy_startup_list_result.stat.exists|bool

- name: Start Galaxy lite
  command: '{{galaxy_custom_script_path}}/galaxy-startup-lite start'

- name: '[release_17.**] Set ephemeris to the right version'
  set_fact:
    ephemeris_version = '0.7.0'
  when: galaxy_version_number|float < 18.01

- name: Create/invoke script virtualenv
  pip:
    name: '{{ item }}'
    virtualenv: '{{ tools_venv_dir }}'
    virtualenv_command: "{{ pip_virtualenv_command | default( 'virtualenv' ) }}"
    state: forcereinstall
  with_items:
    - ephemeris=={{ephemeris_version}}

- include: install_workflow_list.yml
  with_items: '{{ galaxy_tools_workflow_list_path }}'
  loop_control:
    loop_var: workflow_list_path
  when:
    - install_workflows|bool

# Data libraries upload is Currently not working
# TODO fix.
#- include: install_data_library_list.yml
#  with_items: '{{ galaxy_tools_data_library_list_files }}'
#  loop_control:
#    loop_var: data_library_list_file
#  when:
#    - install_data_libraries|bool

- name: Stop Galaxy lite
  command: '{{ galaxy_custom_script_path }}/galaxy-startup-lite stop'
